extends layout

block content
  h1= title
  p Welcome to #{title}
  if currentUser
    p You are #{currentUser.username}
    a(href="/create-message") Create message
  hr
  if messages 
    div.card
      ul.list-group.list-group-flush 
        for message in messages 
          li.list-group-item 
            h4=message.title 
            p=message.text
            if (currentUser && currentUser.membership_status ) 
              p=message.timestamp
              p=message.author.username
            if (currentUser && currentUser.is_admin)
              a(href="/delete-message/"+message._id) 
                button.btn.btn-primary(type="button") Delete
  hr
  a(href="/log-in")
    button.btn.btn-primary(type="button" style="margin-right:10px") Login page
  a(href="/sign-up")
    button.btn.btn-primary(type="button" style="margin-right:10px") Signup page
  a(href="/become-member")
    button.btn.btn-primary(type="button" style="margin-right:10px") Become member
  a(href="/become-admin")
    button.btn.btn-primary(type="button") Become admin